<p>test works!</p>

<form action="" [formGroup]="form" appTrackingForm formName="form">
  <input type="text" formControlName="name">
  <button type="button" (click)="onTest()">test</button>
</form>

<form action="" [formGroup]="form1" appTrackingForm formName="form1">
  <input type="text" formControlName="name">
  <button type="button" (click)="onTest()">test</button>
</form>

<ng-container *ngIf="test">
  <form action="" [formGroup]="form2" appTrackingForm formName="form2">
    <div formArrayName="names">
      <ng-container *ngFor="let control of aliases.controls; let i=index">
        <input id="alias-{{ i }}" type="text" [formControlName]="i">
      </ng-container>
    </div>
  </form>
</ng-container>

<button type="button" (click)="test = !test">delete</button>
<button type="button" (click)="onTest1()">delete</button>

<button (click)="onShowLoading()">show loading</button>
<button (click)="onHideLoading()">hide loading</button>
