@mixin cdk-overlay() {
  .cdk-overlay-container {
    .cdk-global-overlay-wrapper {
      .cdk-overlay-pane {
        img {
          width: 100px !important;
          height: 100px !important;
          margin: auto;
        }
      }
    }
  }
}
